#review_before_build {
  #build_form {
    padding: 0px;
    border: none;
    .modal-footer {
      border-top: none;
      padding: 0px;
    }
  }
  .list-group {
    float: left;
    clear: both;
    width: 100%;
    .list-group-item {
      background: transparent;
      border: none;
      font-size: 90%;
      width: 90%;
    }
  }

  .build_state {
    max-height: 400px;
    overflow: auto;
  }

  .loading {
    display: none;
    width: 100%;
    text-align: center;
    &.visible {
      display: block;
      img {
        width: 22px;
      }
    }
  }
}

.lookup_key_row {
  .overridden_message {
    display: none;
  }
  &.overridden {
    span {
      text-decoration: line-through
    }
    background: #ddd;
    text-color: #333;
    .override_button {
      display: none;
    }
    .overridden_message {
      display: inline;
      text-decoration: none;
    }
  }
}

.lookup_key_override_row {
  display: none;
  &.visible {
    display: table-row;
  }
}