<% @interesting_klasses = interesting_klasses(obj) %>
<%# Interesting classes is our name for classes which the object has values for%>
<div class="smart-var-left col-md-2">
  <ul class="nav nav-pills nav-stacked smart-var-tabs" data-tabs="pills">
    <% @interesting_klasses.each do |klass| %>
        <li>
          <a data-toggle="tab" id="pill_<%= klass.to_s.gsub(':', '_') + '_' + klass.id.to_s %>"
             href="#<%= klass.to_s.gsub(':', '_') + '_' + klass.id.to_s %>"><%= klass.name %></a>
        </li>
    <% end %>
  </ul>
</div>

<div class="tab-content col-md-9 stacked-content">
  <%# This is the classes on the big window on the right %>
  <% @interesting_klasses.each do |klass| %>
      <%= render :partial => "puppetclasses/class_parameters", :locals => { :obj => obj, :puppetclass => klass } %>
  <% end %>
</div>
